#!/usr/bin/env ruby

compile '/images/*' do
end

compile '/javascripts/*' do
end

compile '/stylesheets/*' do
  filter :sass, :syntax => :scss, :style => :compressed
end

compile '*' do
  filter :haml, :format => :html5
end

route '/images/*' do
  "/images/#{File.basename(rep.item.raw_filename)}"
end

route '/javascripts/*' do
  "/javascripts/#{File.basename(rep.item.identifier)}.js"
end

route '/stylesheets/*' do
  "/stylesheets/#{File.basename(rep.item.identifier)}.css"
end

route '*' do
  rep.item.identifier + 'index.html'
end
