#!/usr/bin/env ruby
require_relative 'lib/latex_filter'

compile '/**/*.haml' do
  filter :haml, format: :html5
end

compile '/**/*.html' do
end

route '/**/*.{html,haml}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    "#{item.identifier.without_ext}/index.html"
  end
end

ignore '/**/reset.scss'

compile '/**/*.scss' do
  filter :sass, syntax: :scss, style: :compressed
end

compile '/**/*.css' do
end

route '/**/*.{css,scss}' do
  "#{item.identifier.without_ext}.css"
end

compile '/**/*.tex' do
  filter :latex
end

route '/**/*.tex' do
  "#{item.identifier.without_ext}.pdf"
end

passthrough '/images/**/*'
passthrough '/**/*.txt'
