!!!
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    
    %link{:rel => 'stylesheet', :href => 'stylesheets/screen.css', :media => 'screen, projection'}
    /[if lt IE 7]
      %link{:rel => 'stylesheet', :href => 'stylesheets/ie.css', :media => 'screen, projection'}

    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}

    %title Dan Poggi
  %body
    #wrapper
      #datacontent
        #header
          #avatar.vtip
            %img{:src => 'images/avatar.png', :alt => 'Dan Poggi'}
          #name
            %h1 Dan Poggi
            %br
            %h3 Full-Stack Web Developer
        %ul.navigation
          %li
            %a{:href => '#about'} About
          %li
            %a{:href => '#social'} Social
          %li
            %a{:href => '#contact'} Contact

        .panels
          #about.panel
            .content
              %h2 About Me
              %p
                My name is Dan Poggi, and I've been using computers since well before I could read. They are my passion. Today I use that passion as a driving force to develop clean, beautiful web applications that <em>just work</em>.
              %p
                Currently I work for <a href='http://www.loudpixel.com/'>Loudpixel</a> on database scaling, internal web applications, and deployment automation. I am also a student at <a href='http://msu.edu/'>Michigan State University</a>.
              %p
                In my spare time, I enjoy long walks on the beach, playing the <a href='http://youtube.com/watch?v=Pmj_R-Bt88M'>guitar</a>, <a href='http://momastore.org/'>good design</a>, <a href='http://bluelounge.com/'>good design</a>, and playing with <a href='http://thinkgeek.com/geektoys/rc/bb98/'>toys</a>.

          #social.panel
            %ul#networks
              %li.first
                .icon
                  %img{:src => 'images/twitter.png', :alt => 'Twitter'}
                .network
                  %a{:href => 'http://twitter.com/danpoggi'}
                    %span Twitter
                    %br
                    twitter.com/danpoggi
              %li
                .icon
                  %img{:src => 'images/linkedin.png', :alt => 'LinkedIn'}
                .network
                  %a{:href => 'http://linkedin.com/pub/dan-poggi/29/90a/1a4'}
                    %span LinkedIn
                    %br
                    linkedin.com/pub/dan-poggi/29/90a/1a4
              %li
                .icon
                  %img{:src => 'images/facebook.png', :alt => 'Facebook'}
                .network
                  %a{:href => 'http://facebook.com/danpoggi'}
                    %span Facebook
                    %br
                    facebook.com/danpoggi
              %li.last
                .icon
                  %img{:src => 'images/youtube.png', :alt => 'YouTube'}
                .network
                  %a{:href => 'http://youtube.com/user/m0lten'}
                    %span YouTube
                    %br
                    youtube.com/user/m0lten
          #contact.panel
            .content
              %h2 Contact
              %p
                Feel free to contact me regarding future projects, the weather, or just to say hello. You can find my r&eacute;sum&eacute; <a href='/resume'>here</a>.

              %ul#contact_info
                %li
                  %img{:src => 'images/phone.png', :style => 'width: 16px; height: 16px;', :alt => 'Phone'}
                  %span +1 616 425 9376
                %li
                  %img{:src => 'images/email.png', :style => 'width: 16px; height: 16px;', :alt => 'E-mail'}
                  %span
                    %a{:href => 'mailto:dan@danpoggi.com'} dan@danpoggi.com
                %li
                  %img{:src => 'images/web.png', :style => 'width: 16px; height: 16px;', :alt => 'Web'}
                  %span
                    %a{:href => 'http://www.danpoggi.com/'} www.danpoggi.com
        #bottom
        #copyright
          &copy;
          = Time.now.year
          Dan Poggi. All rights reserved. Inspired by Tim Van Damme.

    %script{:type => 'text/javascript', :src => 'javascripts/init.js'}
    :javascript
      window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){f[z]=function(){(a.s=a.s||[]).push(arguments)};var a=f[z]._={},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={0:+new Date};a.P=function(u){a.p[u]=new Date-a.p[0]};function s(){a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{b.contentWindow[g].open()}catch(w){c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{var t=b.contentWindow[g];t.write(p());t.close()}catch(x){b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});

      olark.identify('5432-238-10-7395');