!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width,initial-scale=1'}
    %link{rel: 'stylesheet', href: '/stylesheets/resume_screen.css', media: 'screen, projection'}
    %link{rel: 'stylesheet', href: '/stylesheets/resume_print.css', media: 'print'}
    %title Dan Poggi &mdash; R&eacute;sum&eacute;
  %body
    %header
      %h1 Dan Poggi

      %hgroup
        :markdown
          ## [dan@danpoggi.com](mailto:dan@danpoggi.com)
          ### (616) 425-9376
          #### [https://www.danpoggi.com/](https://www.danpoggi.com/)
 
    %section#work
      %h1 Work Experience
      %article
        :markdown
          ## Detroit Labs
          ### Application Developer
          #### August 2015&ndash;Present
          * iOS development using Objective-C and Swift.
          * Server-side development using Ruby and Java.
          * Limited interactions with Android development using Java.

          ## Half Turn Consulting
          ### Founder
          #### September 2012&ndash;August 2015
          * Developed custom data processing applications using an OSS stack.
          * Consulted on IT strategy concerns including security and networking.

          ## Loudpixel
          ### Lead Engineer
          #### April 2012&ndash;September 2012
          * Database-backed web development using Ruby on Rails, MongoDB, and PostgreSQL.
          * Built cloud-based "walled garden" behind a secure VPN for development, staging, and automated deployment.
          * Scaled legacy MySQL system to handle millions of rows and disk-intensive joins by adding indexes where appropriate and oversaw a migration to SSD-based servers.

          ## Olark
          ### Web Development Intern
          #### June 2011&ndash;November 2011
          * Worked on implementing best practices in Olark&rsquo;s Rails frontend.
          * Developed server deployment practices for scaling Olark&rsquo;s backend services in the cloud.

          ## MSU Physical Plant
          ### Computer Support Technician
          #### March 2010&ndash;June 2011
          * Responsible, along with a team of 12, for the maintenance, support, and growth of a network serving over 1,000 client computers.
          * Tasked with updating the structure of Microsoft Access databases, scripting using Windows PowerShell, supporting video editing software, and documenting new procedures for use by computer support staff.

          ## Self-Employed
          ### Web Developer, Computer Support Tech
          #### September 2005&ndash;March 2010
          * Employed by businesses to produce web sites and services using cutting-edge web technologies.
          * Hired by personal clients to diagnose and repair computer problems on Windows and Macintosh operating systems, and deploy new systems involving computers and/or consumer electronics.

          ## Grand Rapids Community College, Computer Camp for Teens
          ### Teaching Assistant
          #### Summers 2005 and 2006
          * Used skills in HTML and Visual Basic to teach students about software including Microsoft Visual Basic 6 and Macromedia Dreamweaver.
          * Worked with students aged 8-18 with various levels of technical skill.
          * Held this position on a volunteer basis during the summers of 2000-2004.

    %section#education
      %h1 Education
      %article
        :markdown
          ## Michigan State University, East Lansing, Mich.
          ##### B.S. Computer Science, Cognate in Business (incomplete)
          ###### September 2009&ndash;December 2014

    %section
      %h1 Technical Skills
      %article
        %div
          :markdown
            * Languages: Ruby, JavaScript, Objective-C, Swift, Java, Bourne Shell, Python, C#
            * Libraries/Frameworks: Rails, Riot.js, UIKit, AppKit, Guava/Gson, Jersey, Spring
            * Tools: Git, Vim, bash/zsh, tmux, Xcode, JetBrains IDEs (IntelliJ et al.), Visual Studio
            * Databases: PostgreSQL, SQLite, MySQL, MongoDB
            * Operating Systems: Mac OS X, Linux (mainly RHEL- and Debian-based), Windows, FreeBSD

    %section
      %h1 Other Experience
      %article
        :markdown
          ## Forest Hills Eastern Theater/MIFA One Acts Festival
          ### Technical Specialist
          #### February 2008
          * Used C# and the Windows API to develop an application for displaying prerecorded video loops of a person on the second monitor of a PC, so as to give the appearance of an artificial character that can perform "actions."
          * Application was used in conjunction with a reverse projection screen to furnish a "telescreen" in a production of George Orwell&rsquo;s *1984*. The "telescreen" component of the production won two separate technical awards from the [Michigan Interscholastic Forensic Association](http://themifa.org/).
