/** Fix the Navigation alignment **/
ul.navigation {height:10px;}

/** Fix the Header Margins/Padding **/
#avatar {padding:5px;height:60px;margin:0px;}
#header {padding:17px 25px 12px 25px;margin:0px;}
