body {
  padding-top: 4em;
  text-align: center;
  font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  color: #23527c;
  text-decoration: underline;
}
